<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<title>Home Management</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/fa/css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="/fa/css/all.min.css">
</head>
<body>
	<nav id="sidebar" class="navbar-dark bg-dark transition hidden">
		<a id="brand" class="navbar-brand" href="/"></a>
		<ul id="pages" class="navbar-nav">
		</ul>
	</nav>
	<div id="main">
		<nav id="topbar" class="navbar navbar-dark navbar-expand-md fixed-top transition">
			<button id="toggler" class="navbar-toggler" type="button">
				<i class="fa fa-bars"></i>
			</button>
			<ul id="topnav" class="nav navbar-nav">
				<li id="title" class="nav-item text-white"></li>
			</ul>
			<ul id="actions" class="nav navbar-nav ml-auto">
				<li class="nav-item text-white action"><a class="nav-link" href="#"><i class="fa fa-bell"></i></a></li>
				<li class="nav-item text-white action"><a class="nav-link" href="#"><i class="fa fa-cog"></i></a></li>
			</ul>
		</nav>
		<div id="content" class="transition">
		</div>
	</div>
	<!--<div id="footer">
		<div class="msg bg-success">Test test<a class="dismiss fa fa-times"></a></div>
		<div class="msg bg-warning">Test test<a class="dismiss fa fa-times"></a></div>
		<div class="msg bg-danger">Test test<a class="dismiss fa fa-times"></a></div>
	</div>-->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>

